body {
        color: rgb(209, 47, 168);
        background-color: rgb(19, 3, 34);
        border:black 5px; 
        font-family: Verdana, Geneva, Tahoma, sans-serif; 

}


h1 {
    color:black;
}
