body {
        color: rgb(209, 47, 168);
        background-color: rgb(19, 3, 34);
        border:black 5px; 
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        width: 80%;
        margin: auto;

}


.nav-border {
    border-style: dashed;
    border-color: #0A3761;
    margin: 20px;
    padding: 20px, 20px, 20px, 20px;
}

.black-border {
    border: solid black; 
    margin-top: 10%; 
    margin-bottom: 10%;  
    size: auto;
}

h1 {
    color:black; 
    font-size: auto; 
    margin: 0 auto;
    width: 300px;
}

h2 {
    color: royalblue; 
}

.pink-border {
    border: 2px solid pink; margin-top: 3%; margin-bottom: 3%; padding-left: 3%; width: property 100%
    
}

nav {
    border-bottom: 1px solid black;
    text-align: center;
}



.nav-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.nav-list li{
    float: left;
    
}

li a {
    display: block;
    color: black;
    padding: 14px 16px;

}




footer {background-color: blanchedalmond; font-size: smaller; margin-top: 3%; margin-bottom: 3%; padding-left: 3%}


@media (min-width: 1024px) {

    body {background-color: palegreen;
    color: green;
    size: 1.25rem;
    font-size: 0.75rem;

}
}
